.summary-page {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.generated-content{
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}

.summary-point {
    font-style: italic;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

.summary-title {
    
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
}

.summary-text {
    color: #000000;
    margin-bottom: 10px;
}

.generate-new-button {
    background-color: #0b42f7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
    width: 150px;
}

.generate-new-button:hover {
    background-color: #5f77fe;
}

.save-content-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px; 
}

.save-content-section h3 {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
    position: relative;
}

.save-table {
    display: flex;
    gap: 15px;
}

.choose-folder select {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px; 
    background-color: white; 
    color: black;
    width: 100%;
    max-width: 300px;
}

.save-button {
    width: 80px;
    padding: 10px 20px;  
    color: white;
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 16px;
}

.save-button.yes {
    background-color: #4CAF50;
}

.save-button.no {
    background-color: #007bff;
}

.generate-new{
    display: flex;
    justify-content: flex-end;
}